[Desktop Entry]
Version=1.0
Type=Application
Name=Servo Control
Comment=8-Axis Servo Controller
Exec=lxterminal -e "cd /home/pi/Servo_Control && bash run_servo_control.sh && echo 'Press Enter to close...' && read"
Icon=applications-engineering
Path=/home/pi/Servo_Control
Terminal=false
StartupNotify=true