[Desktop Entry]
Version=1.0
Type=Application
Name=Servo Control
Comment=8-Axis Servo Controller
Exec=lxterminal --working-directory=/home/pi/Servo_Control -e "bash -c './run_servo_control.sh; echo Press Enter to close...; read'"
Icon=utilities-terminal
Terminal=false
StartupNotify=true
Categories=Application;